dotenv
ipykernel
langchain
langchain-classic
langchain-mistralai
langchain-huggingface
langchain-google-genai
langchain-openai
langchain-chroma
langchain-groq
beautifulsoup4
langchain-community
langchain-core
faiss-cpu
fastapi
uvicorn
langserve
sse_starlette
transformers
sentence-transformers
torch
bs4
pydantic
streamlit
groq
pypdf

# To use tools provided by langchain
arxiv
wikipedia

# To use SQLite - 9
mysql-connector-python
SQLAlchemy

# To validate the URLs - 11
validators==0.28.1
youtube_transcript_api
unstructured
pytube

# For 12
numexpr