dotenv
ipykernel
langchain
langchain-classic
langchain-mistralai
langchain-huggingface
langchain-chroma
langchain-groq
beautifulsoup4
langchain-community
langchain-core
faiss-cpu
fastapi
uvicorn
langserve
sse_starlette
transformers
sentence-transformers
torch